@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
    --yellow: #FFD814;
    --yellow-dark: #FCD200;
    --orange: #FFA41C;
    --orange-dark: #FF8F00;
}

.btn {
    border: 1px solid;
    font-size: 1.2rem;
    padding: 12px 24px;
    border-radius: 40px;
    text-decoration: none;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.btn::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 10px;
    top: calc(100% - 5px);
    border-radius: 20px;
    left: calc(50% - 20px);
    transition: .2s ease;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
}

.btn.pri::before {
    background: var(--orange-dark);
}

.btn.sec::before {
    background: var(--yellow-dark);
}

.btn:hover::before {
    width: calc(100% - 40px);
    left: 20px;
}

.pri.btn {
    border-color: var(--orange);
    background-color: var(--orange);
}

.sec.btn {
    border-color: var(--yellow);
    background-color: var(--yellow);
}

nav {
    padding: 24px 36px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 2rem;
    margin: auto;
    max-width: 1200px;
}

.home_container {
    padding: 6rem 0 0;
    margin: auto;
    max-width: 980px;
} */